#%RAML 0.8
title: YaasApiProductV2
version: v2
mediaType: application/json
baseUri: https://api.yaas.io/hybris/product/v2
securitySchemes:
 - !include https://api.yaas.io/patterns/v1/security-schema-basic.yaml
schemas:
  - errorMessage: |
      {
          "$schema": "http://json-schema.org/draft-04/schema#",
          "title": "error",
          "description": "Schema for API specified errors.",
          "type": "object",
          "properties": {
              "status": {
                  "type": "integer",
                  "description": "original HTTP error code, should be consistent with the response HTTP code",
                  "minimum": 100,
                  "maximum": 599
              },
              "type": {
                  "type": "string",
                  "description": "classification of the error type, lower case with underscore eg validation_failure",
                  "pattern": "[a-z]+[a-z_]*[a-z]+"
              },
              "message": {
                  "type": "string",
                  "description": "descriptive error message for debugging"
              },
              "moreInfo": {
                  "type": "string",
                  "format": "uri",
                  "description": "link to documentation to investigate further and finding support"
              },
              "details": {
                  "type": "array",
                  "description": "list of problems causing this error",
                  "items": {
                      "$schema": "http://json-schema.org/draft-04/schema#",
                      "title": "errorDetail",
                      "description": "schema for specific error cause",
                      "type": "object",
                      "properties": {
                          "field": {
                              "type": "string",
                              "description": "a bean notation expression specifying the element in request data causing the error, eg product.variants[3].name, this can be empty if violation was not field specific"
                          },
                          "type": {
                              "type": "string",
                              "description": "classification of the error detail type, lower case with underscore eg missing_value, this value must be always interpreted in context of the general error type.",
                              "pattern": "[a-z]+[a-z_]*[a-z]+"
                          },
                          "message": {
                              "type": "string",
                              "description": "descriptive error detail message for debugging"
                          },
                          "moreInfo": {
                              "type": "string",
                              "format": "uri",
                              "description": "link to documentation to investigate further and finding support for error detail"
                          }
                      },
                      "required": [
                          "type"
                      ]
                  }
              }
          },
          "required": [
              "status",
              "type"
          ]
      }
  - YRN: |
      {
          "$schema": "http://json-schema.org/draft-04/schema#",
          "title": "YRN attribute",
          "type": "string",
          "format": "uri",
          "description": "Contains the YaaS Resource Name (YRN) of a specific resource on base of the 'yaas' URN scheme"
      }
  - mediaMetadata: |
      {
          "$schema": "http://json-schema.org/draft-04/schema#",
          "type": "object",
          "description": "Media file metadata",
          "properties": {
              "id": {
                  "type": "string"
              },
              "yrn": {
                  "$schema": "http://json-schema.org/draft-04/schema#",
                  "title": "YRN attribute",
                  "type": "string",
                  "format": "uri",
                  "description": "Contains the YaaS Resource Name (YRN) of a specific resource on base of the 'yaas' URN scheme"
              },
              "createdAt": {
                  "type": "string",
                  "description": "ISO 8601 format date in which the media metadata was created."
              },
              "url": {
                  "type": "string",
                  "format": "uri",
                  "description": "URL of file content"
              },
              "tags": {
                  "type": "array",
                  "items": {
                      "type": "string"
                  },
                  "description": "Media file tags"
              },
              "contentType": {
                  "type": "string",
                  "description": "MIME type of the media file",
                  "example": "image/jpeg"
              },
              "uploadLink": {
                  "type": "string",
                  "description": "Link on which user should upload (PUT) media file."
              },
              "uncommittedMedia": {
                  "type": "boolean",
                  "description": "If true, the media file is not committed yet. If property is set to false or is not present the media is already committed"
              },
              "customAttributes": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "Map of custom attributes. The map key is a string, the value can be any JSON object"
              }
          },
          "additionalProperties": false
      }
  - mediaMetadataCollection: |
      {
          "$schema": "http://json-schema.org/draft-04/schema#",
          "type": "array",
          "items": {
              "$schema": "http://json-schema.org/draft-04/schema#",
              "type": "object",
              "description": "Media file metadata",
              "properties": {
                  "id": {
                      "type": "string"
                  },
                  "yrn": {
                      "$schema": "http://json-schema.org/draft-04/schema#",
                      "title": "YRN attribute",
                      "type": "string",
                      "format": "uri",
                      "description": "Contains the YaaS Resource Name (YRN) of a specific resource on base of the 'yaas' URN scheme"
                  },
                  "createdAt": {
                      "type": "string",
                      "description": "ISO 8601 format date in which the media metadata was created."
                  },
                  "url": {
                      "type": "string",
                      "format": "uri",
                      "description": "URL of file content"
                  },
                  "tags": {
                      "type": "array",
                      "items": {
                          "type": "string"
                      },
                      "description": "Media file tags"
                  },
                  "contentType": {
                      "type": "string",
                      "description": "MIME type of the media file",
                      "example": "image/jpeg"
                  },
                  "uploadLink": {
                      "type": "string",
                      "description": "Link on which user should upload (PUT) media file."
                  },
                  "uncommittedMedia": {
                      "type": "boolean",
                      "description": "If true, the media file is not committed yet. If property is set to false or is not present the media is already committed"
                  },
                  "customAttributes": {
                      "type": "object",
                      "additionalProperties": true,
                      "description": "Map of custom attributes. The map key is a string, the value can be any JSON object"
                  }
              },
              "additionalProperties": false
          }
      }
  - mediaMetadataCreation: |
      {
          "$schema": "http://json-schema.org/draft-04/schema#",
          "type": "object",
          "description": "Media file metadata",
          "properties": {
              "tags": {
                  "type": "array",
                  "items": {
                      "type": "string"
                  },
                  "description": "Media file tags"
              },
              "position": {
                  "type": "integer",
                  "default": 0,
                  "description": "Media order is set based on position property. Position is indexed from 0. If value is <= 0 the media is ordered as first. If value is higher that media count or is not specified the media is ordered as last. When retrieving product media they are ordered, but position property is not returned as it is not persisted"
              },
              "contentType": {
                  "type": "string",
                  "description": "MIME type of the file. The provided content type should be the same as the Content-Type header provided during media update, otherwise the update will fail"
              },
              "customAttributes": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "Map of custom attributes. The map key should be a string, the value can be any JSON object"
              }
          },
          "additionalProperties": false,
          "required": [
              "contentType"
          ]
      }
  - mediaMetadataUpdate: |
      {
          "$schema": "http://json-schema.org/draft-04/schema#",
          "type": "object",
          "description": "Schema to update media file metadata",
          "properties": {
              "tags": {
                  "type": "array",
                  "items": {
                      "type": "string"
                  },
                  "description": "Media file tags"
              },
              "position": {
                  "type": "integer",
                  "default": 0,
                  "description": "Media order is set based on position property. Position is indexed from 0. If value is <= 0 the media is ordered as first. If value is higher that media count or is not specified the media is ordered as last. When retrieving product media they are ordered, but position property value is not returned as it is not persisted"
              },
              "customAttributes": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "Map of custom attributes. The map key should be a string, the value can be any JSON object"
              }
          },
          "additionalProperties": false
      }
  - productCreation: |
      {
          "$schema": "http://json-schema.org/draft-04/schema#",
          "type": "object",
          "properties": {
              "metadata": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                      "mixins": {
                          "type": "object",
                          "additionalProperties": {
                              "type": "string",
                              "format": "uri"
                          }
                      },
                      "variants": {
                          "type": "object",
                          "additionalProperties": false,
                          "properties": {
                              "options": {
                                  "type": "object",
                                  "additionalProperties": {
                                      "type": "string",
                                      "format": "uri"
                                  }
                              }
                          }
                      }
                  }
              },
              "id": {
                  "type": "string",
                  "description": "Unique identifier"
              },
              "code": {
                  "type": [
                      "string"
                  ],
                  "description": "Unique, mandatory user-defined identifier of a product",
                  "minLength": 1,
                  "pattern": "^[a-zA-Z0-9][a-zA-Z0-9\\/\\-\\s_*]*$"
              },
              "name": {
                  "description": "The name of the product.",
                  "$schema": "http://json-schema.org/draft-04/schema#",
                  "title": "localized",
                  "oneOf": [
                      {
                          "type": "string",
                          "minLength": 1,
                          "description": "value of property in default language"
                      },
                      {
                          "type": "object",
                          "description": "value of property in specific language",
                          "additionalProperties": {
                              "type": "string",
                              "minLength": 1
                          }
                      }
                  ]
              },
              "description": {
                  "description": "The description of the product.",
                  "$schema": "http://json-schema.org/draft-04/schema#",
                  "title": "localized",
                  "oneOf": [
                      {
                          "type": "string",
                          "description": "value of property in default language"
                      },
                      {
                          "type": "object",
                          "description": "value of property in specific language",
                          "additionalProperties": {
                              "type": "string"
                          }
                      },
                      {
                          "type": "null"
                      }
                  ]
              },
              "published": {
                  "type": "boolean",
                  "default": false,
                  "description": "This flag determines if product is live."
              },
              "mixins": {
                  "type": "object"
              }
          },
          "additionalProperties": false,
          "required": [
              "name",
              "code"
          ]
      }
  - productUpdate: |
      {
          "$schema": "http://json-schema.org/draft-04/schema#",
          "type": "object",
          "properties": {
              "metadata": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                      "mixins": {
                          "type": "object",
                          "additionalProperties": {
                              "type": "string",
                              "format": "uri"
                          }
                      },
                      "variants": {
                          "type": "object",
                          "additionalProperties": false,
                          "properties": {
                              "options": {
                                  "type": "object",
                                  "additionalProperties": {
                                      "type": "string",
                                      "format": "uri"
                                  }
                              }
                          }
                      }
                  }
              },
              "code": {
                  "type": [
                      "string"
                  ],
                  "description": "Unique, mandatory user-defined identifier of a product",
                  "minLength": 1,
                  "pattern": "^[a-zA-Z0-9][a-zA-Z0-9\\/\\-\\s_*]*$"
              },
              "name": {
                  "description": "The name of the product.",
                  "$schema": "http://json-schema.org/draft-04/schema#",
                  "title": "localized",
                  "oneOf": [
                      {
                          "type": "string",
                          "minLength": 1,
                          "description": "value of property in default language"
                      },
                      {
                          "type": "object",
                          "description": "value of property in specific language",
                          "additionalProperties": {
                              "type": "string",
                              "minLength": 1
                          }
                      }
                  ]
              },
              "description": {
                  "description": "The description of the product.",
                  "$schema": "http://json-schema.org/draft-04/schema#",
                  "title": "localized",
                  "oneOf": [
                      {
                          "type": "string",
                          "description": "value of property in default language"
                      },
                      {
                          "type": "object",
                          "description": "value of property in specific language",
                          "additionalProperties": {
                              "type": "string"
                          }
                      },
                      {
                          "type": "null"
                      }
                  ]
              },
              "published": {
                  "type": "boolean",
                  "default": false,
                  "description": "This flag determines if product is live."
              },
              "mixins": {
                  "type": "object"
              }
          },
          "additionalProperties": false,
          "required": [
              "name",
              "code"
          ]
      }
  - product: |
      {
          "$schema": "http://json-schema.org/draft-04/schema#",
          "type": "object",
          "properties": {
              "metadata": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                      "mixins": {
                          "type": "object",
                          "additionalProperties": {
                              "type": "string",
                              "format": "uri"
                          }
                      },
                      "variants": {
                          "type": "object",
                          "additionalProperties": false,
                          "properties": {
                              "options": {
                                  "type": "object",
                                  "additionalProperties": {
                                      "type": "string",
                                      "format": "uri"
                                  }
                              },
                              "mixins": {
                                  "type": "object",
                                  "additionalProperties": {
                                      "type": "string",
                                      "format": "uri"
                                  }
                              }
                          }
                      },
                      "version": {
                          "type": "number"
                      },
                      "createdAt": {
                          "type": "string",
                          "description": "ISO 8601 format date in which the product was created."
                      },
                      "modifiedAt": {
                          "type": "string",
                          "description": "ISO 8601 format date in which the product was modified."
                      }
                  }
              },
              "id": {
                  "type": "string",
                  "description": "Unique identifier"
              },
              "yrn": {
                  "$schema": "http://json-schema.org/draft-04/schema#",
                  "title": "YRN attribute",
                  "type": "string",
                  "format": "uri",
                  "description": "Contains the YaaS Resource Name (YRN) of a specific resource on base of the 'yaas' URN scheme"
              },
              "code": {
                  "type": [
                      "string"
                  ],
                  "description": "Unique, mandatory user-defined identifier of a product",
                  "minLength": 1,
                  "pattern": "^[a-zA-Z0-9][a-zA-Z0-9\\/\\-\\s_*]*$"
              },
              "name": {
                  "description": "The name of the product.",
                  "$schema": "http://json-schema.org/draft-04/schema#",
                  "title": "localized",
                  "oneOf": [
                      {
                          "type": "string",
                          "minLength": 1,
                          "description": "value of property in default language"
                      },
                      {
                          "type": "object",
                          "description": "value of property in specific language",
                          "additionalProperties": {
                              "type": "string",
                              "minLength": 1
                          }
                      }
                  ]
              },
              "description": {
                  "description": "The description of the product.",
                  "$schema": "http://json-schema.org/draft-04/schema#",
                  "title": "localized",
                  "oneOf": [
                      {
                          "type": "string",
                          "description": "value of property in default language"
                      },
                      {
                          "type": "object",
                          "description": "value of property in specific language",
                          "additionalProperties": {
                              "type": "string"
                          }
                      },
                      {
                          "type": "null"
                      }
                  ]
              },
              "published": {
                  "type": "boolean",
                  "default": false,
                  "description": "This flag determines if product is live."
              },
              "media": {
                  "type": "array",
                  "items": {
                      "type": "object",
                      "description": "Media file metadata",
                      "properties": {
                          "id": {
                              "type": "string"
                          },
                          "yrn": {
                              "$schema": "http://json-schema.org/draft-04/schema#",
                              "title": "YRN attribute",
                              "type": "string",
                              "format": "uri",
                              "description": "Contains the YaaS Resource Name (YRN) of a specific resource on base of the 'yaas' URN scheme"
                          },
                          "mediaId": {
                              "type": "string"
                          },
                          "url": {
                              "type": "string",
                              "format": "uri",
                              "description": "URL of file content"
                          },
                          "tags": {
                              "type": "array",
                              "items": {
                                  "type": "string"
                              },
                              "description": "Media file tags"
                          },
                          "contentType": {
                              "type": "string",
                              "description": "MIME type of the media file"
                          },
                          "stored": {
                              "type": "boolean",
                              "description": "If true, the media file is stored in the service. Otherwise the service only stores external URL of the file and metadata."
                          },
                          "createdAt": {
                              "type": "string",
                              "description": "Date of media metadata creation."
                          },
                          "commitLink": {
                              "type": "string",
                              "description": "Contains link which is used when user triggers media commit operation. This link is not returned to user as product service internally triggers the commit"
                          },
                          "uploadLink": {
                              "type": "string",
                              "description": "Contains link on which user should send media for upload before he triggers the commit operation"
                          },
                          "uncommittedMedia": {
                              "type": "boolean",
                              "description": "If true, the media file is not committed yet. Not committed media does no have url property provided"
                          }
                      },
                      "additionalProperties": false
                  },
                  "description": "Contains media information (including url). This attribute is Read-Only, to manage media collection please use the /media subresource. To get this attribute included in product please add the expand=media query param. By default this attribute is not returned with product."
              },
              "mixins": {
                  "type": "object"
              }
          },
          "additionalProperties": false,
          "required": [
              "id",
              "yrn"
          ]
      }
  - products: |
      {
          "$schema": "http://json-schema.org/draft-04/schema#",
          "type": "array",
          "items": {
              "$schema": "http://json-schema.org/draft-04/schema#",
              "type": "object",
              "properties": {
                  "metadata": {
                      "type": "object",
                      "additionalProperties": false,
                      "properties": {
                          "mixins": {
                              "type": "object",
                              "additionalProperties": {
                                  "type": "string",
                                  "format": "uri"
                              }
                          },
                          "variants": {
                              "type": "object",
                              "additionalProperties": false,
                              "properties": {
                                  "options": {
                                      "type": "object",
                                      "additionalProperties": {
                                          "type": "string",
                                          "format": "uri"
                                      }
                                  },
                                  "mixins": {
                                      "type": "object",
                                      "additionalProperties": {
                                          "type": "string",
                                          "format": "uri"
                                      }
                                  }
                              }
                          },
                          "version": {
                              "type": "number"
                          },
                          "createdAt": {
                              "type": "string",
                              "description": "ISO 8601 format date in which the product was created."
                          },
                          "modifiedAt": {
                              "type": "string",
                              "description": "ISO 8601 format date in which the product was modified."
                          }
                      }
                  },
                  "id": {
                      "type": "string",
                      "description": "Unique identifier"
                  },
                  "yrn": {
                      "$schema": "http://json-schema.org/draft-04/schema#",
                      "title": "YRN attribute",
                      "type": "string",
                      "format": "uri",
                      "description": "Contains the YaaS Resource Name (YRN) of a specific resource on base of the 'yaas' URN scheme"
                  },
                  "code": {
                      "type": [
                          "string"
                      ],
                      "description": "Unique, mandatory user-defined identifier of a product",
                      "minLength": 1,
                      "pattern": "^[a-zA-Z0-9][a-zA-Z0-9\\/\\-\\s_*]*$"
                  },
                  "name": {
                      "description": "The name of the product.",
                      "$schema": "http://json-schema.org/draft-04/schema#",
                      "title": "localized",
                      "oneOf": [
                          {
                              "type": "string",
                              "minLength": 1,
                              "description": "value of property in default language"
                          },
                          {
                              "type": "object",
                              "description": "value of property in specific language",
                              "additionalProperties": {
                                  "type": "string",
                                  "minLength": 1
                              }
                          }
                      ]
                  },
                  "description": {
                      "description": "The description of the product.",
                      "$schema": "http://json-schema.org/draft-04/schema#",
                      "title": "localized",
                      "oneOf": [
                          {
                              "type": "string",
                              "description": "value of property in default language"
                          },
                          {
                              "type": "object",
                              "description": "value of property in specific language",
                              "additionalProperties": {
                                  "type": "string"
                              }
                          },
                          {
                              "type": "null"
                          }
                      ]
                  },
                  "published": {
                      "type": "boolean",
                      "default": false,
                      "description": "This flag determines if product is live."
                  },
                  "media": {
                      "type": "array",
                      "items": {
                          "type": "object",
                          "description": "Media file metadata",
                          "properties": {
                              "id": {
                                  "type": "string"
                              },
                              "yrn": {
                                  "$schema": "http://json-schema.org/draft-04/schema#",
                                  "title": "YRN attribute",
                                  "type": "string",
                                  "format": "uri",
                                  "description": "Contains the YaaS Resource Name (YRN) of a specific resource on base of the 'yaas' URN scheme"
                              },
                              "mediaId": {
                                  "type": "string"
                              },
                              "url": {
                                  "type": "string",
                                  "format": "uri",
                                  "description": "URL of file content"
                              },
                              "tags": {
                                  "type": "array",
                                  "items": {
                                      "type": "string"
                                  },
                                  "description": "Media file tags"
                              },
                              "contentType": {
                                  "type": "string",
                                  "description": "MIME type of the media file"
                              },
                              "stored": {
                                  "type": "boolean",
                                  "description": "If true, the media file is stored in the service. Otherwise the service only stores external URL of the file and metadata."
                              },
                              "createdAt": {
                                  "type": "string",
                                  "description": "Date of media metadata creation."
                              },
                              "commitLink": {
                                  "type": "string",
                                  "description": "Contains link which is used when user triggers media commit operation. This link is not returned to user as product service internally triggers the commit"
                              },
                              "uploadLink": {
                                  "type": "string",
                                  "description": "Contains link on which user should send media for upload before he triggers the commit operation"
                              },
                              "uncommittedMedia": {
                                  "type": "boolean",
                                  "description": "If true, the media file is not committed yet. Not committed media does no have url property provided"
                              }
                          },
                          "additionalProperties": false
                      },
                      "description": "Contains media information (including url). This attribute is Read-Only, to manage media collection please use the /media subresource. To get this attribute included in product please add the expand=media query param. By default this attribute is not returned with product."
                  },
                  "mixins": {
                      "type": "object"
                  }
              },
              "additionalProperties": false,
              "required": [
                  "id",
                  "yrn"
              ]
          }
      }
  - resourceLocation: |
      {
          "$schema": "http://json-schema.org/draft-04/schema#",
          "type": "object",
          "properties": {
              "id": {
                  "type": "string"
              },
              "yrn": {
                  "$schema": "http://json-schema.org/draft-04/schema#",
                  "title": "YRN attribute",
                  "type": "string",
                  "format": "uri",
                  "description": "Contains the YaaS Resource Name (YRN) of a specific resource on base of the 'yaas' URN scheme"
              },
              "link": {
                  "type": "string"
              }
          },
          "required": [
              "id",
              "link",
              "yrn"
          ]
      }
  - mediaLocation: |
      {
          "$schema": "http://json-schema.org/draft-04/schema#",
          "type": "object",
          "properties": {
              "id": {
                  "type": "string"
              },
              "yrn": {
                  "$schema": "http://json-schema.org/draft-04/schema#",
                  "title": "YRN attribute",
                  "type": "string",
                  "format": "uri",
                  "description": "Contains the YaaS Resource Name (YRN) of a specific resource on base of the 'yaas' URN scheme"
              },
              "uploadLink": {
                  "type": "string"
              }
          },
          "required": [
              "id",
              "uploadLink",
              "yrn"
          ]
      }
  - tenantAction: |
      {
          "$schema": "http://json-schema.org/draft-04/schema#",
          "type": "object",
          "properties": {
              "tenant": {
                  "type": "string"
              },
              "action": {
                  "type": "string"
              }
          },
          "required": [
              "tenant",
              "action"
          ]
      }
  - genericResponse: |
      {
          "$schema": "http://json-schema.org/draft-04/schema#",
          "type": "object",
          "properties": {
              "code": {
                  "type": "string"
              },
              "status": {
                  "type": "string"
              },
              "message": {
                  "type": "string"
              },
              "data": {
                  "type": "string"
              }
          },
          "required": [
              "code"
          ]
      }
  - productVariant: |
      {
          "$schema": "http://json-schema.org/draft-04/schema#",
          "type": "object",
          "properties": {
              "metadata": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                      "mixins": {
                          "type": "object",
                          "additionalProperties": {
                              "type": "string",
                              "format": "uri"
                          }
                      },
                      "version": {
                          "type": "number"
                      },
                      "createdAt": {
                          "type": "string",
                          "description": "ISO 8601 format date in which the product variant was created."
                      },
                      "modifiedAt": {
                          "type": "string",
                          "description": "ISO 8601 format date in which the product variant was modified."
                      }
                  }
              },
              "id": {
                  "type": "string",
                  "description": "Unique identifier"
              },
              "yrn": {
                  "$schema": "http://json-schema.org/draft-04/schema#",
                  "title": "YRN attribute",
                  "type": "string",
                  "format": "uri",
                  "description": "Contains the YaaS Resource Name (YRN) of a specific resource on base of the 'yaas' URN scheme"
              },
              "code": {
                  "type": [
                      "string"
                  ],
                  "description": "Unique, mandatory user-defined identifier of a product variant",
                  "minLength": 1,
                  "pattern": "^[a-zA-Z0-9][a-zA-Z0-9\\/\\-\\s_*]*$"
              },
              "name": {
                  "description": "The name of the product variant.",
                  "$schema": "http://json-schema.org/draft-04/schema#",
                  "title": "localized",
                  "oneOf": [
                      {
                          "type": "string",
                          "description": "value of property in default language"
                      },
                      {
                          "type": "object",
                          "description": "value of property in specific language",
                          "additionalProperties": {
                              "type": "string"
                          }
                      },
                      {
                          "type": "null"
                      }
                  ]
              },
              "options": {
                  "type": "object"
              },
              "media": {
                  "type": "array",
                  "items": {
                      "type": "object",
                      "description": "Media file metadata",
                      "properties": {
                          "id": {
                              "type": "string"
                          },
                          "yrn": {
                              "$schema": "http://json-schema.org/draft-04/schema#",
                              "title": "YRN attribute",
                              "type": "string",
                              "format": "uri",
                              "description": "Contains the YaaS Resource Name (YRN) of a specific resource on base of the 'yaas' URN scheme"
                          },
                          "mediaId": {
                              "type": "string"
                          },
                          "url": {
                              "type": "string",
                              "format": "uri",
                              "description": "URL of file content"
                          },
                          "tags": {
                              "type": "array",
                              "items": {
                                  "type": "string"
                              },
                              "description": "Media file tags"
                          },
                          "contentType": {
                              "type": "string",
                              "description": "MIME type of the media file"
                          },
                          "stored": {
                              "type": "boolean",
                              "description": "If true, the media file is stored in the service. Otherwise the service only stores external URL of the file and metadata."
                          },
                          "createdAt": {
                              "type": "string",
                              "description": "Date of media metadata creation."
                          },
                          "commitLink": {
                              "type": "string",
                              "description": "Contains link which is used when user triggers media commit operation. This link is not returned to user as product service internally triggers the commit"
                          },
                          "uploadLink": {
                              "type": "string",
                              "description": "Contains link on which user should send media for upload before he triggers the commit operation"
                          },
                          "uncommittedMedia": {
                              "type": "boolean",
                              "description": "If true, the media file is not committed yet. Not committed media does no have url property provided"
                          }
                      },
                      "additionalProperties": false
                  },
                  "description": "Contains media information (including url). This attribute is Read-Only, to manage media collection please use the /media subresource. To get this attribute included in product please add the expand=media query param. By default this attribute is not returned with product."
              },
              "mixins": {
                  "type": "object"
              },
              "default": {
                  "type": "boolean",
                  "default": false,
                  "description": "This flag determines if variant is a default variant."
              }
          },
          "additionalProperties": false,
          "required": [
              "id",
              "yrn"
          ]
      }
  - productVariantWithProduct: |
      {
          "$schema": "http://json-schema.org/draft-04/schema#",
          "type": "object",
          "properties": {
              "productId": {
                  "type": "string",
                  "description": "Product identifier"
              },
              "id": {
                  "type": "string",
                  "description": "Unique identifier"
              },
              "yrn": {
                  "$schema": "http://json-schema.org/draft-04/schema#",
                  "title": "YRN attribute",
                  "type": "string",
                  "format": "uri",
                  "description": "Contains the YaaS Resource Name (YRN) of a specific resource on base of the 'yaas' URN scheme"
              },
              "code": {
                  "type": [
                      "string",
                      "null"
                  ],
                  "description": "Unique, mandatory user-defined identifier of a product variant",
                  "minLength": 1,
                  "pattern": "^[a-zA-Z0-9][a-zA-Z0-9\\/\\-\\s_*]*$"
              },
              "name": {
                  "description": "The name of the product variant.",
                  "$schema": "http://json-schema.org/draft-04/schema#",
                  "title": "localized",
                  "oneOf": [
                      {
                          "type": "string",
                          "description": "value of property in default language"
                      },
                      {
                          "type": "object",
                          "description": "value of property in specific language",
                          "additionalProperties": {
                              "type": "string"
                          }
                      },
                      {
                          "type": "null"
                      }
                  ]
              },
              "options": {
                  "type": "object"
              },
              "default": {
                  "type": "boolean",
                  "default": false,
                  "description": "This flag determines if variant is a default variant."
              },
              "product": {
                  "$schema": "http://json-schema.org/draft-04/schema#",
                  "type": "object",
                  "properties": {
                      "metadata": {
                          "type": "object",
                          "additionalProperties": false,
                          "properties": {
                              "mixins": {
                                  "type": "object",
                                  "additionalProperties": {
                                      "type": "string",
                                      "format": "uri"
                                  }
                              },
                              "variants": {
                                  "type": "object",
                                  "additionalProperties": false,
                                  "properties": {
                                      "options": {
                                          "type": "object",
                                          "additionalProperties": {
                                              "type": "string",
                                              "format": "uri"
                                          }
                                      },
                                      "mixins": {
                                          "type": "object",
                                          "additionalProperties": {
                                              "type": "string",
                                              "format": "uri"
                                          }
                                      }
                                  }
                              },
                              "version": {
                                  "type": "number"
                              },
                              "createdAt": {
                                  "type": "string",
                                  "description": "ISO 8601 format date in which the product was created."
                              },
                              "modifiedAt": {
                                  "type": "string",
                                  "description": "ISO 8601 format date in which the product was modified."
                              }
                          }
                      },
                      "id": {
                          "type": "string",
                          "description": "Unique identifier"
                      },
                      "yrn": {
                          "$schema": "http://json-schema.org/draft-04/schema#",
                          "title": "YRN attribute",
                          "type": "string",
                          "format": "uri",
                          "description": "Contains the YaaS Resource Name (YRN) of a specific resource on base of the 'yaas' URN scheme"
                      },
                      "code": {
                          "type": [
                              "string"
                          ],
                          "description": "Unique, mandatory user-defined identifier of a product",
                          "minLength": 1,
                          "pattern": "^[a-zA-Z0-9][a-zA-Z0-9\\/\\-\\s_*]*$"
                      },
                      "name": {
                          "description": "The name of the product.",
                          "$schema": "http://json-schema.org/draft-04/schema#",
                          "title": "localized",
                          "oneOf": [
                              {
                                  "type": "string",
                                  "minLength": 1,
                                  "description": "value of property in default language"
                              },
                              {
                                  "type": "object",
                                  "description": "value of property in specific language",
                                  "additionalProperties": {
                                      "type": "string",
                                      "minLength": 1
                                  }
                              }
                          ]
                      },
                      "description": {
                          "description": "The description of the product.",
                          "$schema": "http://json-schema.org/draft-04/schema#",
                          "title": "localized",
                          "oneOf": [
                              {
                                  "type": "string",
                                  "description": "value of property in default language"
                              },
                              {
                                  "type": "object",
                                  "description": "value of property in specific language",
                                  "additionalProperties": {
                                      "type": "string"
                                  }
                              },
                              {
                                  "type": "null"
                              }
                          ]
                      },
                      "published": {
                          "type": "boolean",
                          "default": false,
                          "description": "This flag determines if product is live."
                      },
                      "media": {
                          "type": "array",
                          "items": {
                              "type": "object",
                              "description": "Media file metadata",
                              "properties": {
                                  "id": {
                                      "type": "string"
                                  },
                                  "yrn": {
                                      "$schema": "http://json-schema.org/draft-04/schema#",
                                      "title": "YRN attribute",
                                      "type": "string",
                                      "format": "uri",
                                      "description": "Contains the YaaS Resource Name (YRN) of a specific resource on base of the 'yaas' URN scheme"
                                  },
                                  "mediaId": {
                                      "type": "string"
                                  },
                                  "url": {
                                      "type": "string",
                                      "format": "uri",
                                      "description": "URL of file content"
                                  },
                                  "tags": {
                                      "type": "array",
                                      "items": {
                                          "type": "string"
                                      },
                                      "description": "Media file tags"
                                  },
                                  "contentType": {
                                      "type": "string",
                                      "description": "MIME type of the media file"
                                  },
                                  "stored": {
                                      "type": "boolean",
                                      "description": "If true, the media file is stored in the service. Otherwise the service only stores external URL of the file and metadata."
                                  },
                                  "createdAt": {
                                      "type": "string",
                                      "description": "Date of media metadata creation."
                                  },
                                  "commitLink": {
                                      "type": "string",
                                      "description": "Contains link which is used when user triggers media commit operation. This link is not returned to user as product service internally triggers the commit"
                                  },
                                  "uploadLink": {
                                      "type": "string",
                                      "description": "Contains link on which user should send media for upload before he triggers the commit operation"
                                  },
                                  "uncommittedMedia": {
                                      "type": "boolean",
                                      "description": "If true, the media file is not committed yet. Not committed media does no have url property provided"
                                  }
                              },
                              "additionalProperties": false
                          },
                          "description": "Contains media information (including url). This attribute is Read-Only, to manage media collection please use the /media subresource. To get this attribute included in product please add the expand=media query param. By default this attribute is not returned with product."
                      },
                      "mixins": {
                          "type": "object"
                      }
                  },
                  "additionalProperties": false,
                  "required": [
                      "id",
                      "yrn"
                  ]
              }
          },
          "additionalProperties": false,
          "required": [
              "id",
              "yrn"
          ]
      }
  - productVariants: |
      {
          "$schema": "http://json-schema.org/draft-04/schema#",
          "type": "array",
          "items": {
              "$schema": "http://json-schema.org/draft-04/schema#",
              "type": "object",
              "properties": {
                  "metadata": {
                      "type": "object",
                      "additionalProperties": false,
                      "properties": {
                          "mixins": {
                              "type": "object",
                              "additionalProperties": {
                                  "type": "string",
                                  "format": "uri"
                              }
                          },
                          "version": {
                              "type": "number"
                          },
                          "createdAt": {
                              "type": "string",
                              "description": "ISO 8601 format date in which the product variant was created."
                          },
                          "modifiedAt": {
                              "type": "string",
                              "description": "ISO 8601 format date in which the product variant was modified."
                          }
                      }
                  },
                  "id": {
                      "type": "string",
                      "description": "Unique identifier"
                  },
                  "yrn": {
                      "$schema": "http://json-schema.org/draft-04/schema#",
                      "title": "YRN attribute",
                      "type": "string",
                      "format": "uri",
                      "description": "Contains the YaaS Resource Name (YRN) of a specific resource on base of the 'yaas' URN scheme"
                  },
                  "code": {
                      "type": [
                          "string"
                      ],
                      "description": "Unique, mandatory user-defined identifier of a product variant",
                      "minLength": 1,
                      "pattern": "^[a-zA-Z0-9][a-zA-Z0-9\\/\\-\\s_*]*$"
                  },
                  "name": {
                      "description": "The name of the product variant.",
                      "$schema": "http://json-schema.org/draft-04/schema#",
                      "title": "localized",
                      "oneOf": [
                          {
                              "type": "string",
                              "description": "value of property in default language"
                          },
                          {
                              "type": "object",
                              "description": "value of property in specific language",
                              "additionalProperties": {
                                  "type": "string"
                              }
                          },
                          {
                              "type": "null"
                          }
                      ]
                  },
                  "options": {
                      "type": "object"
                  },
                  "media": {
                      "type": "array",
                      "items": {
                          "type": "object",
                          "description": "Media file metadata",
                          "properties": {
                              "id": {
                                  "type": "string"
                              },
                              "yrn": {
                                  "$schema": "http://json-schema.org/draft-04/schema#",
                                  "title": "YRN attribute",
                                  "type": "string",
                                  "format": "uri",
                                  "description": "Contains the YaaS Resource Name (YRN) of a specific resource on base of the 'yaas' URN scheme"
                              },
                              "mediaId": {
                                  "type": "string"
                              },
                              "url": {
                                  "type": "string",
                                  "format": "uri",
                                  "description": "URL of file content"
                              },
                              "tags": {
                                  "type": "array",
                                  "items": {
                                      "type": "string"
                                  },
                                  "description": "Media file tags"
                              },
                              "contentType": {
                                  "type": "string",
                                  "description": "MIME type of the media file"
                              },
                              "stored": {
                                  "type": "boolean",
                                  "description": "If true, the media file is stored in the service. Otherwise the service only stores external URL of the file and metadata."
                              },
                              "createdAt": {
                                  "type": "string",
                                  "description": "Date of media metadata creation."
                              },
                              "commitLink": {
                                  "type": "string",
                                  "description": "Contains link which is used when user triggers media commit operation. This link is not returned to user as product service internally triggers the commit"
                              },
                              "uploadLink": {
                                  "type": "string",
                                  "description": "Contains link on which user should send media for upload before he triggers the commit operation"
                              },
                              "uncommittedMedia": {
                                  "type": "boolean",
                                  "description": "If true, the media file is not committed yet. Not committed media does no have url property provided"
                              }
                          },
                          "additionalProperties": false
                      },
                      "description": "Contains media information (including url). This attribute is Read-Only, to manage media collection please use the /media subresource. To get this attribute included in product please add the expand=media query param. By default this attribute is not returned with product."
                  },
                  "mixins": {
                      "type": "object"
                  },
                  "default": {
                      "type": "boolean",
                      "default": false,
                      "description": "This flag determines if variant is a default variant."
                  }
              },
              "additionalProperties": false,
              "required": [
                  "id",
                  "yrn"
              ]
          }
      }
  - productVariantCreation: |
      {
          "$schema": "http://json-schema.org/draft-04/schema#",
          "type": "object",
          "properties": {
              "code": {
                  "type": [
                      "string"
                  ],
                  "description": "Unique, mandatory user-defined identifier of a product variant",
                  "minLength": 1,
                  "pattern": "^[a-zA-Z0-9][a-zA-Z0-9\\/\\-\\s_*]*$"
              },
              "name": {
                  "description": "The name of the product variant.",
                  "$schema": "http://json-schema.org/draft-04/schema#",
                  "title": "localized",
                  "oneOf": [
                      {
                          "type": "string",
                          "description": "value of property in default language"
                      },
                      {
                          "type": "object",
                          "description": "value of property in specific language",
                          "additionalProperties": {
                              "type": "string"
                          }
                      },
                      {
                          "type": "null"
                      }
                  ]
              },
              "options": {
                  "type": "object"
              },
              "default": {
                  "type": "boolean",
                  "default": false,
                  "description": "This flag determines if variant is a default variant."
              }
          },
          "additionalProperties": false,
          "required": [
              "code"
          ]
      }
  - productVariantUpdate: |
      {
          "$schema": "http://json-schema.org/draft-04/schema#",
          "type": "object",
          "properties": {
              "code": {
                  "type": [
                      "string"
                  ],
                  "description": "Unique, mandatory user-defined identifier of a product variant",
                  "minLength": 1,
                  "pattern": "^[a-zA-Z0-9][a-zA-Z0-9\\/\\-\\s_*]*$"
              },
              "name": {
                  "description": "The name of the product variant.",
                  "$schema": "http://json-schema.org/draft-04/schema#",
                  "title": "localized",
                  "oneOf": [
                      {
                          "type": "string",
                          "description": "value of property in default language"
                      },
                      {
                          "type": "object",
                          "description": "value of property in specific language",
                          "additionalProperties": {
                              "type": "string"
                          }
                      },
                      {
                          "type": "null"
                      }
                  ]
              },
              "options": {
                  "type": "object"
              },
              "default": {
                  "type": "boolean",
                  "default": false,
                  "description": "This flag determines if variant is a default variant."
              }
          },
          "additionalProperties": false,
          "required": [
              "code"
          ]
      }
  - searchQuery: |
      {
          "$schema": "http://json-schema.org/draft-04/schema#",
          "type": "object",
          "properties": {
              "yrns": {
                  "type": "array",
                  "description": "List of yrns. Each yrn identifies either product or product variant",
                  "items": {
                      "$schema": "http://json-schema.org/draft-04/schema#",
                      "title": "YRN attribute",
                      "type": "string",
                      "format": "uri",
                      "description": "Contains the YaaS Resource Name (YRN) of a specific resource on base of the 'yaas' URN scheme"
                  }
              },
              "params": {
                  "type": "object",
                  "description": "Optional query params",
                  "properties": {
                      "product": {
                          "type": "object",
                          "description": "Optional query params for products",
                          "properties": {
                              "fields": {
                                  "type": "string",
                                  "description": "Optional projection for product"
                              }
                          }
                      },
                      "variant": {
                          "type": "object",
                          "description": "Optional query params for product variant",
                          "properties": {
                              "fields": {
                                  "type": "string",
                                  "description": "Optional projection for product variant"
                              },
                              "expand": {
                                  "enum": [
                                      "product"
                                  ],
                                  "description": "Optional expand option for product variants"
                              }
                          }
                      }
                  }
              }
          },
          "additionalProperties": false,
          "required": [
              "yrns"
          ]
      }
  - searchQueryResult: |
      {
          "$schema": "http://json-schema.org/draft-04/schema#",
          "type": "array",
          "items": {
              "oneOf": [
                  {
                      "$schema": "http://json-schema.org/draft-04/schema#",
                      "type": "object",
                      "properties": {
                          "productId": {
                              "type": "string",
                              "description": "Product identifier"
                          },
                          "id": {
                              "type": "string",
                              "description": "Unique identifier"
                          },
                          "yrn": {
                              "$schema": "http://json-schema.org/draft-04/schema#",
                              "title": "YRN attribute",
                              "type": "string",
                              "format": "uri",
                              "description": "Contains the YaaS Resource Name (YRN) of a specific resource on base of the 'yaas' URN scheme"
                          },
                          "code": {
                              "type": [
                                  "string",
                                  "null"
                              ],
                              "description": "Unique, mandatory user-defined identifier of a product variant",
                              "minLength": 1,
                              "pattern": "^[a-zA-Z0-9][a-zA-Z0-9\\/\\-\\s_*]*$"
                          },
                          "name": {
                              "description": "The name of the product variant.",
                              "$schema": "http://json-schema.org/draft-04/schema#",
                              "title": "localized",
                              "oneOf": [
                                  {
                                      "type": "string",
                                      "description": "value of property in default language"
                                  },
                                  {
                                      "type": "object",
                                      "description": "value of property in specific language",
                                      "additionalProperties": {
                                          "type": "string"
                                      }
                                  },
                                  {
                                      "type": "null"
                                  }
                              ]
                          },
                          "options": {
                              "type": "object"
                          },
                          "default": {
                              "type": "boolean",
                              "default": false,
                              "description": "This flag determines if variant is a default variant."
                          },
                          "product": {
                              "$schema": "http://json-schema.org/draft-04/schema#",
                              "type": "object",
                              "properties": {
                                  "metadata": {
                                      "type": "object",
                                      "additionalProperties": false,
                                      "properties": {
                                          "mixins": {
                                              "type": "object",
                                              "additionalProperties": {
                                                  "type": "string",
                                                  "format": "uri"
                                              }
                                          },
                                          "variants": {
                                              "type": "object",
                                              "additionalProperties": false,
                                              "properties": {
                                                  "options": {
                                                      "type": "object",
                                                      "additionalProperties": {
       
                                                   "type": "string",
                                                          "format": "uri"
                                                      }
                                                  },
                                                  "mixins": {
                                                      "type": "object",
                                                      "additionalProperties": {
       
                                                   "type": "string",
                                                          "format": "uri"
                                                      }
                                                  }
                                              }
                                          },
                                          "version": {
                                              "type": "number"
                                          },
                                          "createdAt": {
                                              "type": "string",
                                              "description": "ISO 8601 format date in which the product was created."
                                          },
                                          "modifiedAt": {
                                              "type": "string",
                                              "description": "ISO 8601 format date in which the product was modified."
                                          }
                                      }
                                  },
                                  "id": {
                                      "type": "string",
                                      "description": "Unique identifier"
                                  },
                                  "yrn": {
                                      "$ref": "YRN"
                                  },
                                  "code": {
                                      "type": [
                                          "string"
                                      ],
                                      "description": "Unique, mandatory user-defined identifier of a product",
                                      "minLength": 1,
                                      "pattern": "^[a-zA-Z0-9][a-zA-Z0-9\\/\\-\\s_*]*$"
                                  },
                                  "name": {
                                      "$ref": "notEmptyLocalizedAttribute",
                                      "description": "The name of the product."
                                  },
                                  "description": {
                                      "$ref": "nullableLocalizedAttribute",
                                      "description": "The description of the product."
                                  },
                                  "published": {
                                      "type": "boolean",
                                      "default": false,
                                      "description": "This flag determines if product is live."
                                  },
                                  "media": {
                                      "type": "array",
                                      "items": {
                                          "type": "object",
                                          "description": "Media file metadata",
                                          "properties": {
                                              "id": {
                                                  "type": "string"
                                              },
                                              "yrn": {
                                                  "$ref": "YRN"
                                              },
                                              "mediaId": {
                                                  "type": "string"
                                              },
                                              "url": {
                                                  "type": "string",
                                                  "format": "uri",
                                                  "description": "URL of file content"
                                              },
                                              "tags": {
                                                  "type": "array",
                                                  "items": {
   
                                                   "type": "string"
                                                  },
                                                  "description": "Media file tags"
                                              },
                                              "contentType": {
                                                  "type": "string",
                                                  "description": "MIME type of the media file"
                                              },
                                              "stored": {
                                                  "type": "boolean",
                                                  "description": "If true, the media file is stored in the service. Otherwise the service only stores external URL of the file and metadata."
                                              },
                                              "createdAt": {
                                                  "type": "string",
                                                  "description": "Date of media metadata creation."
                                              },
                                              "commitLink": {
                                                  "type": "string",
                                                  "description": "Contains link which is used when user triggers media commit operation. This link is not returned to user as product service internally triggers the commit"
                                              },
                                              "uploadLink": {
                                                  "type": "string",
                                                  "description": "Contains link on which user should send media for upload before he triggers the commit operation"
                                              },
                                              "uncommittedMedia": {
                                                  "type": "boolean",
                                                  "description": "If true, the media file is not committed yet. Not committed media does no have url property provided"
                                              }
                                          },
                                          "additionalProperties": false
                                      },
                                      "description": "Contains media information (including url). This attribute is Read-Only, to manage media collection please use the /media subresource. To get this attribute included in product please add the expand=media query param. By default this attribute is not returned with product."
                                  },
                                  "mixins": {
                                      "type": "object"
                                  }
                              },
                              "additionalProperties": false,
                              "required": [
                                  "id",
                                  "yrn"
                              ]
                          }
                      },
                      "additionalProperties": false,
                      "required": [
                          "id",
                          "yrn"
                      ]
                  },
                  {
                      "$schema": "http://json-schema.org/draft-04/schema#",
                      "type": "object",
                      "properties": {
                          "metadata": {
                              "type": "object",
                              "additionalProperties": false,
                              "properties": {
                                  "mixins": {
                                      "type": "object",
                                      "additionalProperties": {
                                          "type": "string",
                                          "format": "uri"
                                      }
                                  },
                                  "variants": {
                                      "type": "object",
                                      "additionalProperties": false,
                                      "properties": {
                                          "options": {
                                              "type": "object",
                                              "additionalProperties": {
                                                  "type": "string",
                                                  "format": "uri"
                                              }
                                          },
                                          "mixins": {
                                              "type": "object",
                                              "additionalProperties": {
                                                  "type": "string",
                                                  "format": "uri"
                                              }
                                          }
                                      }
                                  },
                                  "version": {
                                      "type": "number"
                                  },
                                  "createdAt": {
                                      "type": "string",
                                      "description": "ISO 8601 format date in which the product was created."
                                  },
                                  "modifiedAt": {
                                      "type": "string",
                                      "description": "ISO 8601 format date in which the product was modified."
                                  }
                              }
                          },
                          "id": {
                              "type": "string",
                              "description": "Unique identifier"
                          },
                          "yrn": {
                              "$schema": "http://json-schema.org/draft-04/schema#",
                              "title": "YRN attribute",
                              "type": "string",
                              "format": "uri",
                              "description": "Contains the YaaS Resource Name (YRN) of a specific resource on base of the 'yaas' URN scheme"
                          },
                          "code": {
                              "type": [
                                  "string"
                              ],
                              "description": "Unique, mandatory user-defined identifier of a product",
                              "minLength": 1,
                              "pattern": "^[a-zA-Z0-9][a-zA-Z0-9\\/\\-\\s_*]*$"
                          },
                          "name": {
                              "description": "The name of the product.",
                              "$schema": "http://json-schema.org/draft-04/schema#",
                              "title": "localized",
                              "oneOf": [
                                  {
                                      "type": "string",
                                      "minLength": 1,
                                      "description": "value of property in default language"
                                  },
                                  {
                                      "type": "object",
                                      "description": "value of property in specific language",
                                      "additionalProperties": {
                                          "type": "string",
                                          "minLength": 1
                                      }
                                  }
                              ]
                          },
                          "description": {
                              "description": "The description of the product.",
                              "$schema": "http://json-schema.org/draft-04/schema#",
                              "title": "localized",
                              "oneOf": [
                                  {
                                      "type": "string",
                                      "description": "value of property in default language"
                                  },
                                  {
                                      "type": "object",
                                      "description": "value of property in specific language",
                                      "additionalProperties": {
                                          "type": "string"
                                      }
                                  },
                                  {
                                      "type": "null"
                                  }
                              ]
                          },
                          "published": {
                              "type": "boolean",
                              "default": false,
                              "description": "This flag determines if product is live."
                          },
                          "media": {
                              "type": "array",
                              "items": {
                                  "type": "object",
                                  "description": "Media file metadata",
                                  "properties": {
                                      "id": {
                                          "type": "string"
                                      },
                                      "yrn": {
                                          "$schema": "http://json-schema.org/draft-04/schema#",
                                          "title": "YRN attribute",
                                          "type": "string",
                                          "format": "uri",
                                          "description": "Contains the YaaS Resource Name (YRN) of a specific resource on base of the 'yaas' URN scheme"
                                      },
                                      "mediaId": {
                                          "type": "string"
                                      },
                                      "url": {
                                          "type": "string",
                                          "format": "uri",
                                          "description": "URL of file content"
                                      },
                                      "tags": {
                                          "type": "array",
                                          "items": {
                                              "type": "string"
                                          },
                                          "description": "Media file tags"
                                      },
                                      "contentType": {
                                          "type": "string",
                                          "description": "MIME type of the media file"
                                      },
                                      "stored": {
                                          "type": "boolean",
                                          "description": "If true, the media file is stored in the service. Otherwise the service only stores external URL of the file and metadata."
                                      },
                                      "createdAt": {
                                          "type": "string",
                                          "description": "Date of media metadata creation."
                                      },
                                      "commitLink": {
                                          "type": "string",
                                          "description": "Contains link which is used when user triggers media commit operation. This link is not returned to user as product service internally triggers the commit"
                                      },
                                      "uploadLink": {
                                          "type": "string",
                                          "description": "Contains link on which user should send media for upload before he triggers the commit operation"
                                      },
                                      "uncommittedMedia": {
                                          "type": "boolean",
                                          "description": "If true, the media file is not committed yet. Not committed media does no have url property provided"
                                      }
                                  },
                                  "additionalProperties": false
                              },
                              "description": "Contains media information (including url). This attribute is Read-Only, to manage media collection please use the /media subresource. To get this attribute included in product please add the expand=media query param. By default this attribute is not returned with product."
                          },
                          "mixins": {
                              "type": "object"
                          }
                      },
                      "additionalProperties": false,
                      "required": [
                          "id",
                          "yrn"
                      ]
                  }
              ]
          }
      }
  - notEmptyLocalizedAttribute: |
      {
          "$schema": "http://json-schema.org/draft-04/schema#",
          "title": "localized",
          "oneOf": [
              {
                  "type": "string",
                  "minLength": 1,
                  "description": "value of property in default language"
              },
              {
                  "type": "object",
                  "description": "value of property in specific language",
                  "additionalProperties": {
                      "type": "string",
                      "minLength": 1
                  }
              }
          ]
      }
  - nullableLocalizedAttribute: |
      {
          "$schema": "http://json-schema.org/draft-04/schema#",
          "title": "localized",
          "oneOf": [
              {
                  "type": "string",
                  "description": "value of property in default language"
              },
              {
                  "type": "object",
                  "description": "value of property in specific language",
                  "additionalProperties": {
                      "type": "string"
                  }
              },
              {
                  "type": "null"
              }
          ]
      }
traits:
  - localizedModification:
      usage: Apply this trait when you want to modify localized attributes.
      description: |
        This trait provides localization headers for modifying localized attributes.

      headers:
        Content-Language:
          type: string
          description: |
            The locale identifier of the language of the updated attribute.

          example: pl
          required: false
      responses:
        400:
          description: |
            Request syntactically incorrect. Any details will be provided within the response payload.
          body:
            application/json:
              example: |
                {
                    "status": 400,
                    "message": "There are validation problems, see details section for more information",
                    "moreInfo": "https://api.yaas.io/patterns/errortypes.html",
                    "type": "validation_violation",
                    "details": [
                        {
                            "field": "Content-Language",
                            "message": "not a language",
                            "type": "invalid_header"
                        }
                    ]
                }
              schema: |
                {
                    "$schema": "http://json-schema.org/draft-04/schema#",
                    "title": "error",
                    "description": "Schema for API specified errors.",
                    "type": "object",
                    "properties": {
                        "status": {
                            "type": "integer",
                            "description": "original HTTP error code, should be consistent with the response HTTP code",
                            "minimum": 100,
                            "maximum": 599
                        },
                        "type": {
                            "type": "string",
                            "description": "classification of the error type, lower case with underscore eg validation_failure",
                            "pattern": "[a-z]+[a-z_]*[a-z]+"
                        },
                        "message": {
                            "type": "string",
                            "description": "descriptive error message for debugging"
                        },
                        "moreInfo": {
                            "type": "string",
                            "format": "uri",
                            "description": "link to documentation to investigate further and finding support"
                        },
                        "details": {
                            "type": "array",
                            "description": "list of problems causing this error",
                            "items": {
                                "$schema": "http://json-schema.org/draft-04/schema#",
                                "title": "errorDetail",
                                "description": "schema for specific error cause",
                                "type": "object",
                                "properties": {
                                    "field": {
                                        "type": "string",
                                        "description": "a bean notation expression specifying the element in request data causing the error, eg product.variants[3].name, this can be empty if violation was not field specific"
                                    },
                                    "type": {
                                        "type": "string",
                                        "description": "classification of the error detail type, lower case with underscore eg missing_value, this value must be always interpreted in context of the general error type.",
                                        "pattern": "[a-z]+[a-z_]*[a-z]+"
                                    },
                                    "message": {
                                        "type": "string",
                                        "description": "descriptive error detail message for debugging"
                                    },
                                    "moreInfo": {
                                        "type": "string",
                                        "format": "uri",
                                        "description": "link to documentation to investigate further and finding support for error detail"
                                    }
                                },
                                "required": [
                                    "type"
                                ]
                            }
                        }
                    },
                    "required": [
                        "status",
                        "type"
                    ]
                }
  - localizedRetrieval:
      usage: Apply this trait when you want to retrieve localized attributes.
      description: |
        This trait provides localization headers for retrieving localized attributes.

      headers:
        Accept-Language:
          type: string
          description: |
            The value of the locale identifier of the language in which the attribute should be returned.
            Provide several values separated by comma, in order to specify fallback languages.

          example: pl
          repeat: true
          required: false
        hybris-languages:
          type: string
          description: |
            Comma separated list of language identifiers for which the localization for an attribute
            should be provided.

          example: en,pl,it
          repeat: true
          required: false
      responses:
        400:
          description: |
            Request syntactically incorrect. Any details will be provided within the response payload.
          body:
[...]
